<ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownListExample">
 

  <div style="font-size: 15px;">
    
     <div class="w300">
      
      <a href="/">About us</a>
    </div>
        <div class="w300">
      <a href="http://corporate.goflytta.com">Corporate</a>
  </div>
       <div class="w300">
    
      <a menu-link href="/how" >How it works</a>
    </div>
    <div class="w300">
   
         <button style=""; class="btn btn-sm btn-success btn-border" href="" ng-show="login_text" ng-click="auth0_login('login')">Login</button>
                <button style="" class="btn btn-sm btn-success btn-border" href="" ng-show="!login_text" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#logoutCon">Logout</button>
    </div>
  
  </div>
</ul>
<!-- <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownListExample">
    <label style="padding-left:43px;font-size:15px;text-transform: uppercase;">Services</label> 
      <a menu-link href="/home/property" >House Rentals</a>
      <a menu-link href="/home/property" >Packers & Movers</a>
      <a menu-link href="/home/property" >Settling-in Services</a>
   
    <label style="padding-left:43px;font-size:15px;text-transform: uppercase;">Flytta</label> 
      <a menu-link href="http://corporate.goflytta.com">Corporate</a>
      <a menu-link href="http://vendor.goflytta.com">Vendors</a>
      <a menu-link href="http://web.goflytta.com/hello-world">Careers</a>
    
    <label style="padding-left:43px;font-size:15px;text-transform: uppercase;">About</label> 
      <a menu-link href="/">Team</a>
      <a menu-link href="http://blog.goflytta.com">Blog</a>
      <a menu-link href="http://community.goflytta.com" >Community</a>
      <a menu-link href="/contactUs" >Contact</a>
    
    
    <a href="tel:+919866496464">+91-9866496464</a>
    <a id="super-top-bar-mail" href="mailto:hello@goflytta.com" target="_blank">hello@goflytta.com</a>
</ul> -->

