<aside class="sidebar fixed" style="">
<div class="pull-right" style="padding: 10px;">
  <button class="btn btn-round" ng-click="hide_sidebar()" style="background-color:#3f51b5;"><i style="vertical-align: middle;color: #fff" class="md md-keyboard-backspace"></i></button>
</div>
<br/>
<br/>

  <!-- <div class="brand-logo">
    <div id="logo">
      <div class="foot1"></div>
      <div class="foot2"></div>
      <div class="foot3"></div>
      <div class="foot4"></div>
    </div>
    Materialism
  </div> -->
  <!-- <div class="user-logged-in">
    <div class="content">
      <div class="user-name">Katsumoto <span class="text-muted f9">admin</span></div>
      <div class="user-email">last@samurai.jp</div>
      <div class="user-actions">
        <a class="m-r-5" href="">settings</a> <a href="">logout</a>
      </div>
    </div>
  </div> -->
  <ul class="menu-links" ng-cloak>
    <label style="padding-left:43px;font-size:15px;text-transform: uppercase;">Services</label> 
      <a menu-link href="/home/property" >House Rentals</a>
      <a menu-link href="/home/property" >Packers & Movers</a>
      <a menu-link href="/home/property" >Settling-in Services</a>
   
    <label style="padding-left:43px;font-size:15px;text-transform: uppercase;">Flytta</label> 
      <a menu-link href="http://corporate.goflytta.com">Corporate</a>
      <a menu-link href="http://vendor.goflytta.com">Vendors</a>
      <a menu-link href="http://web.goflytta.com/hello-world">Careers</a>
    
    <label style="padding-left:43px;font-size:15px;text-transform: uppercase;">About</label> 
      <a menu-link href="/">Team</a>
      <a menu-link href="http://blog.goflytta.com">Blog</a>
      <a menu-link href="http://community.goflytta.com" >Community</a>
      <a menu-link href="/contactUs" >Contact</a>
    
    <a menu-link href="/how" >How it works</a>
    <a href="tel:+919866496464">+91-9866496464</a>
    <a id="super-top-bar-mail" href="mailto:hello@goflytta.com" target="_blank">hello@goflytta.com</a>

   <!--  <center>
      <i class="fa fa-facebook" style="font-size:20px"></i>
        <a target="_blank" href="https://twitter.com/flyttainc"><i class="fa fa-twitter" style="font-size:20px"></i></a>
        <a target="_blank" href="https://www.linkedin.com/company/flytta"><i class="fa fa-linkedin" style="font-size:20px"></i></a>
        <a target="_blank" href="https://www.instagram.com/goflytta/"><i class="fa fa-instagram" style="font-size:20px"></i></a>
    </center> -->

    <!-- <li menu-toggle path="/apps" name="APPS" icon="md md-camera">
      <a menu-link href="#/apps/todo" name="Todo">
        <span id="todosCount" class="pull-right badge z-depth-0" ng-bind="todosCount"></span>
        Todo
      </a>
      <a menu-link href="#/apps/crud" name="Crud">
        <span class="pull-right badge theme-primary-bg z-depth-0">9</span>
        Crud
      </a>
    </li> -->
    <!-- 
    <li menu-toggle path="/ui-elements" name="UI elements" icon="md md-photo">
      <a menu-link href="#/ui-elements/cards">Cards</a>
      <a menu-link href="#/ui-elements/colors">Color</a>
      <a menu-link href="#/ui-elements/grid">Grid</a>
      <a menu-link href="#/ui-elements/icons">Icons material design</a>
      <a menu-link href="#/ui-elements/weather-icons">Icons weather</a>
      <a menu-link href="#/ui-elements/lists">Lists</a>
      <a menu-link href="#/ui-elements/typography">Typography</a>
      <a menu-link href="#/ui-elements/messages">Messages &amp; Notifications</a>
      <a menu-link href="#/ui-elements/buttons">Buttons</a>
    </li>
    <li menu-toggle path="/forms" name="Forms" icon="md md-input">
      <a menu-link href="#/forms/basic">Basic forms</a>
      <a menu-link href="#/forms/advanced">Advanced elements</a>
      <a menu-link href="#/forms/validation">Validation</a>
    </li>
    <li menu-toggle path="/tables" name="Tables" icon="md md-list">
      <a menu-link href="#/tables/basic">Basic tables</a>
      <a menu-link href="#/tables/data">Data tables</a>
    </li>
    <li menu-toggle path="/maps" name="Maps" icon="md md-place">
      <a menu-link href="#/maps/full-map">Full map</a>
      <a menu-link href="#/maps/map-widgets">Map widgets</a>
      <a menu-link href="#/maps/vector-map">Vector map</a>
    </li>
    <a menu-link href="#/charts" icon="md md-insert-chart">Charts</a>
    <li menu-toggle path="/pages" name="Extra pages" icon="md md-favorite-outline">
      <a target="_blank" href="pages/login.html">Login</a>
      <a target="_blank" href="pages/404.html">404</a>
      <a target="_blank" href="pages/500.html">500</a>
      <a target="_blank" href="pages/material-bird.html">Easter Egg</a>
    </li>
    <a menu-link href="#/documentation" icon="md md-insert-drive-file">Documentation</a> --><!--@grep dist-->
  </ul>
</aside>
