<!DOCTYPE html>
<html lang="en" ng-app="materialism" ng-class="{'full-page-map': isFullPageMap}">

<head>
    <meta name="fragment" content="!">  
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{ngMeta.description}}" />
    <meta name="msapplication-TileColor" content="#9f00a7">
    <meta name="msapplication-TileImage" content="assets/img/favicon/mstile-144x144.png">
    <meta name="msapplication-config" content="assets/img/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="icon" type="image/ico" href="assets/img/logo_flytta.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="manifest" href="assets/img/favicon/manifest.json">
    <title ng-bind="ngMeta.title">Flytta | Relocation | Housing | Packers and movers | Settling-in services in India</title> 
    <!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/components/image.min.css"> 
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/components/icon.min.css">-->    
  <!--  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/components/label.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/components/input.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/components/transition.min.css">-->
    <link rel="stylesheet" type="text/css" href="assets/css/all-minified-files.css">
   <!--  <link href="bower_components/material-design-iconic-font/css/material-design-iconic-font.css" rel="stylesheet" /> 
    <link href="bower_components/c3/c3.css" rel="stylesheet" />
    <link href="bower_components/bower-jvectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" />
    <link href="bower_components/angular-loading-bar/build/loading-bar.css" rel="stylesheet" />
    <link href="bower_components/angular-motion/dist/angular-motion.css" rel="stylesheet" />
    <link href="bower_components/bootstrap-additions/dist/bootstrap-additions.css" rel="stylesheet" />
    <link href="bower_components/semantic-ui-dropdown/dropdown.css" rel="stylesheet" />-->
    <link href='assets/fonts/montserrat/stylesheet.css' rel="stylesheet" />

   <!--  <link href='bower_components/textAngular/src/textAngular.css' rel="stylesheet" />
    <link href="bower_components/angular-ui-select/dist/select.css" rel="stylesheet" />
    <link href="bower_components/ng-table/dist/ng-table.css" rel="stylesheet" />
    <link href="assets/css/materialism.css" rel="stylesheet" />
    <link href="assets/css/angular-ui-select.css" rel="stylesheet" />
    <link href="assets/css/helpers.css" rel="stylesheet" />
    <link href="assets/css/ripples.css" rel="stylesheet" />
    <link href="assets/css/search/search.css" rel="stylesheet" />-->
    <link rel="stylesheet" media="(min-width: 500px) and (max-width: 900px)" href="assets/css/search/search-tab.css">
    <link rel="stylesheet" media="(max-width: 500px)" href="assets/css/search/search-mobile.css">
   <!-- <link href="assets/css/search/own.css" rel="stylesheet" />-->
    <link rel="stylesheet" media="(min-width: 500px) and (max-width: 900px)" href="assets/css/search/own-tab.css">
    <link rel="stylesheet" media="(max-width: 500px)" href="assets/css/search/own-mobile.css">
    <!--<link href="assets/css/search/main_.css" rel="stylesheet" />-->
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyDgSZvCQbdNXTdXPmfV2I-tgFsM-0446FQ&libraries=places,geometry&sensor=false&v=3.5"></script>
   <!-- <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.0/angular-ui-router.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/ocombe/ocLazyLoad/master/dist/ocLazyLoad.js"></script> -->
  
    <style type="text/css">
    .modal-backdrop {
        opacity: 0.9 !important;
    }
    </style>
    <script>
    var _rollbarConfig = {
        accessToken: "1e24ba983e26454395d69a77305a21c4",
        captureUncaught: true,
        captureUnhandledRejections: true,
        payload: {
            environment: "production"
        }
    };
    // Rollbar Snippet
    ! function(r) {
        function o(e) {
            if (n[e]) return n[e].exports;
            var t = n[e] = {
                exports: {},
                id: e,
                loaded: !1
            };
            return r[e].call(t.exports, t, t.exports, o), t.loaded = !0, t.exports
        }
        var n = {};
        return o.m = r, o.c = n, o.p = "", o(0)
    }([function(r, o, n) {
        "use strict";
        var e = n(1),
            t = n(4);
        _rollbarConfig = _rollbarConfig || {}, _rollbarConfig.rollbarJsUrl = _rollbarConfig.rollbarJsUrl || "https://cdnjs.cloudflare.com/ajax/libs/rollbar.js/2.0.4/rollbar.min.js", _rollbarConfig.async = void 0 === _rollbarConfig.async || _rollbarConfig.async;
        var a = e.setupShim(window, _rollbarConfig),
            l = t(_rollbarConfig);
        window.rollbar = e.Rollbar, a.loadFull(window, document, !_rollbarConfig.async, _rollbarConfig, l)
    }, function(r, o, n) {
        "use strict";

        function e(r) {
            return function() {
                try {
                    return r.apply(this, arguments)
                } catch (r) {
                    try {
                        console.error("[Rollbar]: Internal error", r)
                    } catch (r) {}
                }
            }
        }

        function t(r, o) {
            this.options = r, this._rollbarOldOnError = null;
            var n = s++;
            this.shimId = function() {
                return n
            }, window && window._rollbarShims && (window._rollbarShims[n] = {
                handler: o,
                messages: []
            })
        }

        function a(r, o) {
            var n = o.globalAlias || "Rollbar";
            if ("object" == typeof r[n]) return r[n];
            r._rollbarShims = {}, r._rollbarWrappedError = null;
            var t = new d(o);
            return e(function() {
                return o.captureUncaught && (t._rollbarOldOnError = r.onerror, i.captureUncaughtExceptions(r, t, !0), i.wrapGlobals(r, t, !0)), o.captureUnhandledRejections && i.captureUnhandledRejections(r, t, !0), r[n] = t, t
            })()
        }

        function l(r) {
            return e(function() {
                var o = this,
                    n = Array.prototype.slice.call(arguments, 0),
                    e = {
                        shim: o,
                        method: r,
                        args: n,
                        ts: new Date
                    };
                window._rollbarShims[this.shimId()].messages.push(e)
            })
        }
        var i = n(2),
            s = 0,
            c = n(3),
            p = function(r, o) {
                return new t(r, o)
            },
            d = c.bind(null, p);
        t.prototype.loadFull = function(r, o, n, t, a) {
            var l = function() {
                    var o;
                    if (void 0 === r._rollbarDidLoad) {
                        o = new Error("rollbar.js did not load");
                        for (var n, e, t, l, i = 0; n = r._rollbarShims[i++];)
                            for (n = n.messages || []; e = n.shift();)
                                for (t = e.args || [], i = 0; i < t.length; ++i)
                                    if (l = t[i], "function" == typeof l) {
                                        l(o);
                                        break
                                    }
                    }
                    "function" == typeof a && a(o)
                },
                i = !1,
                s = o.createElement("script"),
                c = o.getElementsByTagName("script")[0],
                p = c.parentNode;
            s.crossOrigin = "", s.src = t.rollbarJsUrl, n || (s.async = !0), s.onload = s.onreadystatechange = e(function() {
                if (!(i || this.readyState && "loaded" !== this.readyState && "complete" !== this.readyState)) {
                    s.onload = s.onreadystatechange = null;
                    try {
                        p.removeChild(s)
                    } catch (r) {}
                    i = !0, l()
                }
            }), p.insertBefore(s, c)
        }, t.prototype.wrap = function(r, o) {
            try {
                var n;
                if (n = "function" == typeof o ? o : function() {
                        return o || {}
                    }, "function" != typeof r) return r;
                if (r._isWrap) return r;
                if (!r._wrapped && (r._wrapped = function() {
                        try {
                            return r.apply(this, arguments)
                        } catch (e) {
                            var o = e;
                            throw "string" == typeof o && (o = new String(o)), o._rollbarContext = n() || {}, o._rollbarContext._wrappedSource = r.toString(), window._rollbarWrappedError = o, o
                        }
                    }, r._wrapped._isWrap = !0, r.hasOwnProperty))
                    for (var e in r) r.hasOwnProperty(e) && (r._wrapped[e] = r[e]);
                return r._wrapped
            } catch (o) {
                return r
            }
        };
        for (var u = "log,debug,info,warn,warning,error,critical,global,configure,handleUncaughtException,handleUnhandledRejection".split(","), f = 0; f < u.length; ++f) t.prototype[u[f]] = l(u[f]);
        r.exports = {
            setupShim: a,
            Rollbar: d
        }
    }, function(r, o) {
        "use strict";

        function n(r, o, n) {
            if (r) {
                var t;
                "function" == typeof o._rollbarOldOnError ? t = o._rollbarOldOnError : r.onerror && !r.onerror.belongsToShim && (t = r.onerror, o._rollbarOldOnError = t);
                var a = function() {
                    var n = Array.prototype.slice.call(arguments, 0);
                    e(r, o, t, n)
                };
                a.belongsToShim = n, r.onerror = a
            }
        }

        function e(r, o, n, e) {
            r._rollbarWrappedError && (e[4] || (e[4] = r._rollbarWrappedError), e[5] || (e[5] = r._rollbarWrappedError._rollbarContext), r._rollbarWrappedError = null), o.handleUncaughtException.apply(o, e), n && n.apply(r, e)
        }

        function t(r, o, n) {
            if (r) {
                "function" == typeof r._rollbarURH && r._rollbarURH.belongsToShim && r.removeEventListener("unhandledrejection", r._rollbarURH);
                var e = function(r) {
                    var n = r.reason,
                        e = r.promise,
                        t = r.detail;
                    !n && t && (n = t.reason, e = t.promise), o && o.handleUnhandledRejection && o.handleUnhandledRejection(n, e)
                };
                e.belongsToShim = n, r._rollbarURH = e, r.addEventListener("unhandledrejection", e)
            }
        }

        function a(r, o, n) {
            if (r) {
                var e, t, a = "EventTarget,Window,Node,ApplicationCache,AudioTrackList,ChannelMergerNode,CryptoOperation,EventSource,FileReader,HTMLUnknownElement,IDBDatabase,IDBRequest,IDBTransaction,KeyOperation,MediaController,MessagePort,ModalWindow,Notification,SVGElementInstance,Screen,TextTrack,TextTrackCue,TextTrackList,WebSocket,WebSocketWorker,Worker,XMLHttpRequest,XMLHttpRequestEventTarget,XMLHttpRequestUpload".split(",");
                for (e = 0; e < a.length; ++e) t = a[e], r[t] && r[t].prototype && l(o, r[t].prototype, n)
            }
        }

        function l(r, o, n) {
            if (o.hasOwnProperty && o.hasOwnProperty("addEventListener")) {
                for (var e = o.addEventListener; e._rollbarOldAdd && e.belongsToShim;) e = e._rollbarOldAdd;
                var t = function(o, n, t) {
                    e.call(this, o, r.wrap(n), t)
                };
                t._rollbarOldAdd = e, t.belongsToShim = n, o.addEventListener = t;
                for (var a = o.removeEventListener; a._rollbarOldRemove && a.belongsToShim;) a = a._rollbarOldRemove;
                var l = function(r, o, n) {
                    a.call(this, r, o && o._wrapped || o, n)
                };
                l._rollbarOldRemove = a, l.belongsToShim = n, o.removeEventListener = l
            }
        }
        r.exports = {
            captureUncaughtExceptions: n,
            captureUnhandledRejections: t,
            wrapGlobals: a
        }
    }, function(r, o) {
        "use strict";

        function n(r, o) {
            this.impl = r(o, this), this.options = o, e(n.prototype)
        }

        function e(r) {
            for (var o = function(r) {
                    return function() {
                        var o = Array.prototype.slice.call(arguments, 0);
                        if (this.impl[r]) return this.impl[r].apply(this.impl, o)
                    }
                }, n = "log,debug,info,warn,warning,error,critical,global,configure,handleUncaughtException,handleUnhandledRejection,_createItem,wrap,loadFull,shimId".split(","), e = 0; e < n.length; e++) r[n[e]] = o(n[e])
        }
        n.prototype._swapAndProcessMessages = function(r, o) {
            this.impl = r(this.options);
            for (var n, e, t; n = o.shift();) e = n.method, t = n.args, this[e] && "function" == typeof this[e] && this[e].apply(this, t);
            return this
        }, r.exports = n
    }, function(r, o) {
        "use strict";
        r.exports = function(r) {
            return function(o) {
                if (!o && !window._rollbarInitialized) {
                    r = r || {};
                    for (var n, e, t = r.globalAlias || "Rollbar", a = window.rollbar, l = function(r) {
                            return new a(r)
                        }, i = 0; n = window._rollbarShims[i++];) e || (e = n.handler), n.handler._swapAndProcessMessages(l, n.messages);
                    window[t] = e, window._rollbarInitialized = !0
                }
            }
        }
    }]);
    // End Rollbar Snippet
    </script>
</head>

<body ng-controller="MainController" scroll-spy id="top" ng-class="[theme.template, theme.color]" style="overflow-x: hidden;padding-right: opx;">
<div class="modal modal-fullscreen loader1" ng-show="load"></div>
    <div class="main-container">
        <div class="main-content" style="max-height: 100%;max-width: 100%" ng-view bs-affix-target init-ripples></div>
        <div class="modal modal-fullscreen" id="modal-fullscreen" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" tabindex="-1" style="max-width: 100%;overflow-x: hidden;">
            <div class="modal-dialog">
                <div class="visible-md visible-lg" style="height: 2vh"></div>
                <div class="modal-content" style="margin-top: 10vh">
                    <div class="" style="color:#fff;pointer-events:none;" align="center">
                        <div align="center">
                            <center>
                                <img alt="Flytta" src="assets/img/flytta_logo_dark_half.png">
                            </center>
                        </div>
                        <div class="visible-md visible-lg">
                            <br/>
                        </div>
                        <br/>
                        <div style="color: white;line-height : 120%;font-family: 'Montserrat',serif ;font-size: 14px;font-weight: 200;line-height: 12px;text-transform: uppercase;">
                            <div style="font-size: 14px;font-family: Montserrat;font-weight: 300;" id="over">
                                <span style="font-size: 30px;font-family: Montserrat;font-weight: 200;line-height : 120%;">Your one stop relocation shop </span>
                                <br/>
                                <br/>
                                <span style="font-size: 15px;font-family: Montserrat;font-weight: 200;line-height : 120%;">House Rentals • Packers & Movers • Settling in Services </span>
                                <br/>
                                <br/>
                                <br/>
                                <br/>
                            </div>
                            <p align="center" style="color: white;font-family: 'Montserrat';font-size: 14px;font-weight: 300;line-height: 12px;text-transform: uppercase;line-height : 120%;">Choose your origin city</p>
                            <div class="form-group row">
                                <div class="col-md-4 col-md-offset-4 col-xs-6 col-xs-offset-3" style="border-bottom:1px solid white;pointer-events:all;">
                                    <ui-select ng-model="mainOriginCity" theme="select2" on-select="setselect($select.selected.cname,$select.selected.cvalue);" title="Choose City" search-enabled="true">
                                        <ui-select-match style="color: white" placeholder="Select your city">{{$select.selected.cname}}</ui-select-match>
                                        <ui-select-choices style="color: black" repeat="item in cities | filter:$select.search track by item.cvalue | limitTo: 100">
                                            {{item['cname']}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                            <br/>
                            <br/>
                            <div class="row">
                                <p align="center" style="color: white;font-family: Montserrat;font-size: 14px;font-weight: 300;line-height: 12px;text-transform: uppercase;line-height : 120%;">Choose your destination city</p>
                                <div align="center" style="font-weight: 300;pointer-events:all;">
                                    <button class="btn btn-warning btn-border" id="b_hyd" ng-click="setdest('hyd')">Hyderabad</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="errorModal" role="dialog">
            <div class="modal-dialog" style="margin-top: 25vh;">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #f0bb2f;">
                        <!--   <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                        <h4 class="modal-title">Error</h4>
                    </div>
                    <div class="modal-body">
                        <p id="mainError" style="font-size: 14px;"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" style="background-color:#f0bb2f; color:#666" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="logoutCon">
            <div class="modal-dialog modal-xs" role="document">
                <div class="modal-content container">
                    <div class="modal-body" style="font-size: 15px">
                        <div class="row">
                            <div class="col-md-12">
                                Are you sure you want to logout ?
                                <div class="modal-footer">
                                    <button type="button" style="background-color:#fdd206; color:#666" class="btn btn-primary" ng-click="logout();">Yes</button>
                                    <button type="button" style="background-color:#fdd206; color:#666" class="btn btn-primary" data-dismiss="modal">No</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="digitModal" role="dialog">
            <div class="modal-dialog" style="margin-top: 25vh;">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #f0bb2f;">
                        <!--   <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                        <h4 class="modal-title">Mobile Number Confirmation</h4>
                    </div>
                    <div class="modal-body" id="placefordigit">
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="loginModal" role="dialog">
            <div class="modal-dialog" style="margin-top: 25vh;">
                <!-- Modal content-->
                <div class="well white" id="forms-validation-container">
                    <form name="register" class="form-floating" novalidate="novalidate" ng-submit="register.$valid && register.submit()">
                        <fieldset>
                            <div class="form-group">
                          <!--       <label for="inputEmail" class="control-label">Name</label> -->
                                <input type="text" ng-disabled="model.name == '' || request_stat" placeholder="Name" name="myName" class="form-control" ng-model="model.name" autocomplete="off" required>
                                <span ng-show="myForm.myName.$touched && myForm.myName.$invalid">The name is required.</span>
                            </div>
                            <div class="form-group">
                         <!--        <label for="inputEmail" class="control-label">Email</label> -->
                                <input type="email" ng-disabled="model.email == '' || request_stat" placeholder="Email" class="form-control" ng-model="model.email" autocomplete="off" required>
                            </div>
                            <div class="form-group">
                           <!--      <label for="inputEmail" class="control-label">Phone Number</label> -->
                                <input type="number" ng-disabled="model.phone == '' || request_stat" class="form-control" min="0" placeholder="Phone Number" ng-model="model.phone" ng-pattern="/[0-9]/" ng-minlength="10" ng-maxlength="10" required>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-model="model.logincheck" required> Accept our <a href="/terms">Terms</a> and <a href="/privacy">Policy</a>
                                    </label>
                                </div>
                                <span ng-if="errorMessage && !model.logincheck" style="color: red;">Please accept our Terms and Policy to register in goflytta.com</span>
                            </div>
                            <div class="form-group">
                                <div style="text-align: content">
                                    <div class="btn" ng-disabled="register.$invalid" type="submit" style="background-color: #f0bb2f" ng-click="reg()">Submit</div>
                                </div>
                                <span style="color: red" ng-show="errorfields">Please fill all the fields</span>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
     
    </div>
<script src = "https://embed.small.chat/T3UMS95SQG5GA1RH2Q.js" async> </script>
   
    <!--   </main> -->
    <script id="digits-sdk" src="https://cdn.digits.com/1/sdk.js" async></script>
    <script>
    document.getElementById('digits-sdk').onload = function() {
        Digits.init({
            consumerKey: 'zZ6UEC8DBFFvzeQEoGKLQ7Qc2'
        });
    };
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-62479268-1', 'auto');
    </script>
   
    <script charset="utf-8" src="bower_components/all-bower-jsfiles.js"></script>
    <script charset="utf-8" src="node_modules/angular-lazy-loader/dist/angular-lazy-loader.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.6/assets/owl.carousel.min.css" integrity="sha256-O3lPNwiWCwgMkvhj6JNjQ0M9EbyrSMxoqDTpcKOUxH4=" crossorigin="anonymous" />
  <!--  <script charset="utf-8" src="bower_components/angular/angular.js"></script> 
    <script charset="utf-8" src="bower_components/angular-route/angular-route.js"></script>
    <script charset="utf-8" src="bower_components/angular-ui-select/dist/select.js"></script>
    <script charset="utf-8" src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script charset="utf-8" src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
    <script charset="utf-8" src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
    <script charset="utf-8" src="bower_components/ng-table/dist/ng-table.js"></script>
    <script charset="utf-8" src="bower_components/angular-auto-validate/dist/jcs-auto-validate.min.js"></script>
    <script charset="utf-8" src="bower_components/angular-strap/dist/angular-strap.js"></script>
    <script charset="utf-8" src="bower_components/angular-strap/dist/angular-strap.tpl.js"></script>-->
    <!-- shim is needed to support non-HTML5 FormData browsers (IE8-9)
    <script charset="utf-8" src="assets/js/vendors/ng-file-upload-file-api.js"></script>
    <script charset="utf-8" src="bower_components/hammerjs/hammer.js"></script>
    <script charset="utf-8" src="bower_components/jquery-hammerjs/jquery.hammer.js"></script>
    <script charset="utf-8" src="bower_components/velocity/velocity.js"></script>
    <script charset="utf-8" src="bower_components/d3/d3.js"></script>
    <script charset="utf-8" src="bower_components/c3/c3.js"></script>
    <script charset="utf-8" src="bower_components/c3-angular/c3-angular.min.js"></script>
    <script charset="utf-8" src="bower_components/lodash/lodash.js"></script>
    <script charset="utf-8" src="bower_components/angular-simple-logger/dist/angular-simple-logger.js"></script>
    <script charset="utf-8" src="bower_components/angular-google-maps/dist/angular-google-maps.js"></script>
    <script charset="utf-8" src="bower_components/bower-jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script charset="utf-8" src="bower_components/bower-jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script charset="utf-8" src="bower_components/nouislider/distribute/jquery.nouislider.js"></script>
    <script charset="utf-8" src="bower_components/angular-elastic/elastic.js"></script>
    <script charset="utf-8" src="bower_components/ng-file-upload/ng-file-upload-shim.js"></script>
    <script charset="utf-8" src="bower_components/ng-file-upload/ng-file-upload.js"></script>
    <script charset="utf-8" src="bower_components/textAngular/dist/textAngular-rangy.min.js"></script>
    <script charset="utf-8" src="bower_components/textAngular/dist/textAngular-sanitize.min.js"></script>
    <script charset="utf-8" src="bower_components/textAngular/dist/textAngular.min.js"></script>
    <script charset="utf-8" src="bower_components/mdr-angular-select2/dist/mdr-select2.min.js"></script>
    <script charset="utf-8" src="bower_components/angulartics/dist/angulartics.min.js"></script>
    <script charset="utf-8" src="bower_components/angulartics-google-analytics/dist/angulartics-google-analytics.min.js"></script>
    <script charset="utf-8" src="bower_components/semantic-ui-dropdown/dropdown.min.js"></script>
    <script charset="utf-8" src="bower_components/semanticular/dist/semanticular.min.js"></script>
    <script charset="utf-8" src="bower_components/ng-dropdown/dist/ngDropdown.js"></script>
 
    <script charset="utf-8" src="bower_components/angularjs-google-places/src/angularjs-google-places.js"></script>
    <script charset="utf-8" src="bower_components/angular-pico/dist/angular-pico.min.js"></script>
    <script charset="utf-8" src="bower_components/js-cache/build/js-cache-min.js"></script>
    <script charset="utf-8" src="bower_components/ngMeta/dist/ngMeta.min.js"></script>
    <script charset="utf-8" src="bower_components/angular-scroll/angular-scroll.min.js"></script>
    <script charset="utf-8" src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script charset="utf-8" src="bower_components/angular-lazy-img/release/angular-lazy-img.js"></script>-->
    
    <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/amplifyjs/1.1.2/amplify.core.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/amplifyjs/1.1.2/amplify.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/amplifyjs/1.1.2/amplify.request.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/amplifyjs/1.1.2/amplify.store.min.js"></script> -->
     <script charset="utf-8" src="assets/js/app.js"></script>
     <script src="assets/js/controllers/script.js"></script>
    <script src="assets/js/vendors/dirPagination.js"></script>
     <script src="assets/js/controllers/corporate.js"></script>
     <script src="assets/js/controllers/schedule.js"></script>
    <script charset="utf-8" src="assets/js/app.constants.js"></script>
    <script charset="utf-8" src="assets/js/app.config.js"></script>
    <script charset="utf-8" src="assets/js/app.filters.js"></script>
    <script charset="utf-8" src="assets/js/app.demo.js"></script>    
    <link rel="stylesheet" href="//cdn.jsdelivr.net/flexslider/2.2.2/flexslider.css">
   <script type="text/javascript" charset="utf-8" src="assets/js/all-amplify.min.js" ></script>
    <script charset="utf-8" type="text/javascript" src="assets/js/all-controllers.min.js" ></script>


   <!--<script type="text/javascript" src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.js" ></script>
    <script type="text/javascript" src="assets/js/sly.min.js" ></script> 

    <script charset="utf-8" src="assets/js/vendors/angular-placeholders.js"></script>
    <script charset="utf-8" src="assets/js/vendors/side-nav.js"></script>
    <script charset="utf-8" src="assets/js/vendors/ripples.js"></script>
    <script charset="utf-8" src="assets/js/vendors/fsm-sticky-header.js"></script>
    <script charset="utf-8" src="assets/js/vendors/angular-smooth-scroll.js"></script>
    <script charset="utf-8" src="assets/js/colors.js"></script>-->
    <!--@grep dist
    <script charset="utf-8" src="assets/js/directives/formcontrol.js"></script>
    <script charset="utf-8" src="assets/js/directives/navbar-hover.js"></script>
    <script charset="utf-8" src="assets/js/directives/navbar-search.js"></script>
    <script charset="utf-8" src="assets/js/directives/navbar-toggle.js"></script>
    <script charset="utf-8" src="assets/js/directives/noui-slider.js"></script>
    <script charset="utf-8" src="assets/js/directives/todo-widget.js"></script>
    <script charset="utf-8" src="assets/js/directives/menu-link.js"></script>
    <script charset="utf-8" src="assets/js/directives/menu-toggle.js"></script>
    <script charset="utf-8" src="assets/js/directives/vectormap.js"></script>
    <script charset="utf-8" src="assets/js/directives/autofocus.js"></script>
    <script charset="utf-8" src="assets/js/directives/card-flip.js"></script>
    <script charset="utf-8" src="assets/js/directives/scroll-spy.js"></script>
    <script charset="utf-8" src="assets/js/directives/init-ripples.js"></script>
  <script charset="utf-8" src="assets/js/services/color-service.js"></script>
    <script charset="utf-8" src="assets/js/services/todo-service.js"></script>
    <script charset="utf-8" src="assets/js/controllers/main.js"></script>
   <script charset="utf-8" src="assets/js/controllers/dashboard.js"></script> 
    <script charset="utf-8" src="assets/js/controllers/charts.js"></script>
    <script charset="utf-8" src="assets/js/controllers/colors.js"></script>
    <script charset="utf-8" src="assets/js/controllers/buttons.js"></script>
    <script charset="utf-8" src="assets/js/controllers/lists.js"></script>
    <script charset="utf-8" src="assets/js/controllers/forms.js"></script>
    <script charset="utf-8" src="assets/js/controllers/upload.js"></script> 
    <script charset="utf-8" src="assets/js/controllers/apps/crud.js"></script>
    <script charset="utf-8" src="assets/js/controllers/apps/todo.js"></script>
    <script charset="utf-8" src="assets/js/controllers/home/main.js"></script>
   <script charset="utf-8" src="assets/js/controllers/home/request.js"></script>
    <script charset="utf-8" src="assets/js/controllers/home/login_log.js"></script>
    <script charset="utf-8" src="assets/js/controllers/home/main_service.js"></script>
    <script charset="utf-8" src="assets/js/controllers/search/search.js"></script>
    <script charset="utf-8" src="assets/js/controllers/search/view_property.js"></script>
   <script charset="utf-8" src="assets/js/controllers/search/getproperty.js"></script>
    <script charset="utf-8" src="assets/js/controllers/search/search_1.js"></script>
    <script charset="utf-8" src="assets/js/controllers/search/getproperty_1.js"></script>
    <script charset="utf-8" src="assets/js/controllers/search/mover_service.js"></script>
    <script charset="utf-8" src="assets/js/controllers/search/mover.js"></script>    
    <script charset="utf-8" src="assets/js/controllers/search/confirm_schedule.js"></script>
    <script charset="utf-8" src="assets/js/controllers/home/profile.js"></script>
    <script charset="utf-8" src="assets/js/controllers/home/invoice.js"></script>
   <script charset="utf-8" src="assets/js/controllers/date_time.js" async></script>
    <script charset="utf-8" src="assets/js/controllers/search/angular-flexslider.js"></script>
    <script charset="utf-8" src="assets/js/console.min.js"></script>
  <script src="//cdn.jsdelivr.net/flexslider/2.2.2/jquery.flexslider-min.js" async></script>
    <script src="//cdn.jsdelivr.net/flexslider/2.2.2/jquery.flexslider.js" async></script>-->
<script charset="utf-8" src="assets/js/controllers/script.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js" async></script>
    <script src="https://cdn.auth0.com/js/lock-passwordless-2.2.min.js" async></script>
    <script>
    // (function(h, o, t, j, a, r) {
    //     h.hj = h.hj || function() {
    //         (h.hj.q = h.hj.q || []).push(arguments)
    //     };
    //     h._hjSettings = {
    //         hjid: 518894,
    //         hjsv: 5
    //     };
    //     a = o.getElementsByTagName('head')[0];
    //     r = o.createElement('script');
    //     r.async = 1;
    //     r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
    //     a.appendChild(r);
    // })(window, document, '//static.hotjar.com/c/hotjar-', '.js?sv=');
    </script>
    <script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-100555330-1', 'auto');
    ga('send', 'pageview');
    </script>
    <!-- endbuild -->
    <script type="text/javascript">
    $.fn.modal.Constructor.prototype.enforceFocus = function() {};
    </script>
    <script type="text/javascript">
        console.style('<css="font-size:20px;color:#ffd804">▶</css> <b="color:#666666;font-size:13px">FLYTTA</b>, Hey Buddy!');
        console.style("Looking under the hood? We'll do the same!\nInterested? http://www.goflytta.com/hello-world");
    </script>
    <!-- Google Code for goflytta-signups Conversion Page
    In your html page, add the snippet and call
    goog_report_conversion when someone clicks on the
    chosen link or button. -->
    <script type="text/javascript">
      /* <![CDATA[ */
      goog_snippet_vars = function() {
        var w = window;
        w.google_conversion_id = 849316442;
        w.google_conversion_label = "C4kgCKX0_nMQ2pT-lAM";
        w.google_conversion_value = 10.00;
        w.google_conversion_currency = "INR";
        w.google_remarketing_only = false;
      }
      // DO NOT CHANGE THE CODE BELOW.
      goog_report_conversion = function(url) {
        goog_snippet_vars();
        window.google_conversion_format = "3";
        var opt = new Object();
        opt.onload_callback = function() {
        if (typeof(url) != 'undefined') {
          window.location = url;
        }
      }
      var conv_handler = window['google_trackConversion'];
      if (typeof(conv_handler) == 'function') {
        conv_handler(opt);
      }
    }
    /* ]]> */
    </script>
    <script type="text/javascript"
      src="//www.googleadservices.com/pagead/conversion_async.js">
    </script>
</body>

</html>
