<div class="container-fluid" style="margin:0; height: 100%;width:100%; background-color: #ffffff;padding-top: 2vh; box-shadow: 0px 0px 10px #666666; position:relative; z-index:100">
<div class="row" style="padding-bottom:15px; background-color:#fff; "> 
  <div style="padding-top:15px; display:inline-block" class="col-md-8">
   <button ng-click="selectbtn(0)" ng-class="{headerbtn: isActive(0)}" class="btn btn-sm" style="" onclick="location.href='/home/home_property'"><b>House Rentals</b></button>
    <button ng-click="selectbtn(1)" ng-class="{headerbtn: isActive(1)}" class="btn btn-sm " onclick="location.href='/home/home_mover'"><b>Packers & Movers</b></button>
    <button ng-click="selectbtn(2)" ng-class="{headerbtn: isActive(2)}" class="btn btn-sm " onclick="location.href='/home/home_settling'"><b>Settling in Services</b></button>
  </div>
  <div class="col-md-4">
  <ul  class="nav nav-tabs pull-right" style="display: none;">
    <li class="active"><a href="#">Tab 1</a></li>
    <li><a href="#">Tab 2</a></li>
    <li><a href="#">Tab 3</a></li>
  </ul>
  </div>
</div>
</div>