  
    <span>
    <span ng-if="furstatedata['property']['fur'] == 'furnished'"> Furnished</span>
    <span ng-if="furstatedata['property']['fur'] == 's_furnished' || furstatedata['property']['fur'] == 'Semi furnished'"> Semi Furnished</span>
    <span ng-if="furstatedata['property']['fur'] == 'n_furnished' || furstatedata['property']['fur'] == 'Not furnished'"> Not Furnished</span> 
    </span>
    <!-- <span ng-if="furstatedata1">
    <span ng-repeat="furstatedata in furstatedata1">
    <span ng-if="furstatedata['fur'] == 'furnished'"> Furnished</span>
    <span ng-if="furstatedata['fur'] == 's_furnished' || furstatedata['fur'] == 'Semi furnished'"> Semi Furnished</span>
    <span ng-if="furstatedata['fur'] == 'n_furnished'"> Not Furnished</span> 
    </span> -->
   
