<!-- <nav class="navbar navbar-default" style="min-width: 100%;background-color: #3949ab;position: static">
    <div class="container-fluid" style="padding-right:0px">
        <div class="navbar-header">
                 <span class="dropdown pull-right visible-sm visible-xs" style="padding-right: 10px;display: flex;padding-top: 10px;">
                      <button type="button" class="pointer btn btn-round-sm btn-link withoutripple ng-scope collapsed" bs-dropdown="dropdown" data-template-url="assets/tpl/home/resp_nav.html" data-animation="mat-grow-top-right">
                          <i style="color:#fff" class="md-menu"></i>
                      </button>
                    </span>

            <a class="navbar-brand" href="/"><img style="width: 130px;padding-left: 15px;padding-bottom:6px;cursor: pointer;" src="assets/img/flytta_logo_dark_half.png"></a>
        </div>
        <span class="dropdown pull-right visible-md visible-lg" style="padding-right: 5px;">
            <button type="button" style="margin-left: 5px; margin-top: 5px; " class="pointer btn btn-round-sm btn-link withoutripple ng-scope collapsed" bs-dropdown="dropdown" data-template-url="assets/tpl/home/resp_nav.html" data-animation="mat-grow-top-right">
                <i style="color:#fff;" class="md-menu"></i>
            </button>
        </span>
        <ul class="nav navbar-nav navbar-right navbar-right-no-collapse nav-main visible-lg" style="margin-top:10px">
            <li class="dropdown pull-right" >
                <button style="color: #fff;border-color: #fff;"; class="btn btn-sm btn-success btn-border" href="" ng-show="login_text" ng-click="auth0_login('login')">Login</button>
                <button style="color: #fff; border-color: #fff;"; class="btn btn-sm btn-success btn-border" href="" ng-show="!login_text" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#logoutCon">Logout</button>
            </li>
        </ul>
    </div>
</nav> -->
<nav class="navbar navbar-default" style="background-color: #3949ab;position: static">
    <div class="">
        <span id="flotrgt" class="dropdown visible-lg visible-md visible-sm visible-xs" style="padding-right: 10px;display: flex;padding-top: 10px;float: right;">
              <button type="button" title="Menu" class="pointer btn btn-round-sm btn-link withoutripple ng-scope collapsed" bs-dropdown="dropdown" data-template-url="assets/tpl/home/resp_nav.html" data-animation="mat-grow-top-right">
                  <i style="color:#fff" class="md-menu"></i>
              </button>
        </span>
        <a class="pull-left" href="/"><img style="width: 130px;padding-left: 15px;padding-bottom:6px;cursor: pointer;    margin-top: 10px;" alt="Flytta" src="assets/img/flytta_logo_dark_half.png"></a>
    </div> 
        <!-- <ul>  -->
             <div class="dropdown visible-lg visible-md" style="float: right;margin-top:10px">
                    <a class="pull-left" style="color:#fff; padding-top:5px; padding-right:15px;" href="tel:9866496464"><i style="padding-top:0px;" class="md md-phone"></i>+91-9866496464</a>
                    <button style="color: #fff;border-color: #fff;"; class="btn btn-sm btn-success btn-border" href="" ng-show="login_text" ng-click="auth0_login('login')">Login</button>
                    <button style="color: #fff; border-color: #fff;"; class="btn btn-sm btn-success btn-border" href="" ng-show="!login_text" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#logoutCon">Logout</button>
            </div>
  <!--           <li class="dropdown visible-md visible-lg" style="padding-right: 5px;">
                <button type="button" style="margin-left: 5px; margin-top: 5px; " class="pointer btn btn-round-sm btn-link withoutripple ng-scope collapsed" bs-dropdown="dropdown" data-template-url="assets/tpl/home/resp_nav.html" data-animation="mat-grow-top-right">
                    <i style="color:#fff;" class="md-menu"></i>
                </button>
            </li> -->
       <!--  </ul> -->
</nav>