<footer id="f_footer" class="fh5co-bg" ng-controller="homemainController"  role="contentinfo" style="background-color: #0a0a0a;padding-top: 15px;font-family: 'Montserrat';font-weight: 300;">
    <div class="botm row">
        <div class="col-md-3">
            <div style="" align="center" id="mobile-view2">
                <h5><img alt="Flytta" src="assets/img/flytta_logo_dark.png" style="width: 150px;"></h5>
            </div>
        </div>
        <div class="visible-xs">
            <br/>
        </div>
        <div class="col-md-9" style="color: #fff">
            <div class="row container">
                <div class="webview">
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <h4 style="color:#fff;"><b>Flytta</b></h4>
                        <ul class="fh5co-footer-links">
                            <li><a style="color: #fff" rel="noopener" target="_blank" href="http://corporate.goflytta.com">Corporate</a></li>
                            <li><a style="color: #fff" rel="noopener" target="_blank" href="http://vendor.goflytta.com">Vendor</a></li>
                            <li><a style="color: #fff" rel="noopener" target="_blank" href="http://web.goflytta.com/hello-world">Careers</a></li>
                            <!-- <li><a rel="noopener" target="_blank" href="http://web.goflytta.com/invoice">Invoices</a></li> -->
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <h4 style="color:#fff"><b>ABOUT</b></h4>
                        <ul class="fh5co-footer-links">
                            <li><a style="color: #fff" href="/about">Team</a></li>
                            <li><a style="color: #fff" rel="noopener" target="_blank" href="http://blog.goflytta.com">Blog</a></li>
                            <li><a style="color: #fff" rel="noopener" target="_blank" href="http://community.goflytta.com">Community</a></li>
                            <li><a style="color: #fff" href="/contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="mobileview">
                    <div class="col-md-1 col-sm-2 col-xs-1"></div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <h4 style="color:#fff;"><b>Flytta</b></h4>
                        <ul class="fh5co-footer-links">
                            <li><a style="color: #fff" rel="noopener" target="_blank" href="http://corporate.goflytta.com">Corporate</a></li>
                            <li><a style="color: #fff" rel="noopener" target="_blank" href="http://vendor.goflytta.com">Vendor</a></li>
                            <li><a style="color: #fff" rel="noopener" target="_blank" href="http://web.goflytta.com/hello-world">Careers</a></li>
                            <!-- <li><a rel="noopener" target="_blank" href="http://web.goflytta.com/invoice">Invoices</a></li> -->
                        </ul>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-2"></div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <h4 style="color:#fff"><b>EXPLORE</b></h4>
                        <ul class="fh5co-footer-links">
                            <li><a style="color: #fff" href="/about">About us</a></li>
                            <li><a style="color: #fff" rel="noopener" target="_blank" href="http://blog.goflytta.com">Blog</a></li>
                            <li><a style="color: #fff" rel="noopener" target="_blank" href="http://community.goflytta.com">Community</a></li>
                            <li><a style="color: #fff" href="/contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div id="newsletter_div" class="col-md-5 col-xs-offset-1 col-xs-10"> 
                    <div class="newsletter">
                        <h4 style=" color:#fff">Sign up to our newsletter</h4>
                        <form class="form-group" name="subscribe" novalidate="novalidate" ng-submit="subscribe.$valid && subscribe.submit()">
                        <div class="input-group">
                            <input ng-model="subemail" class="form-control" style="color: #fff" name="email" id="email" type="email" placeholder="Your Email" required>
                            <span class="input-group-btn" style="padding-left: 1vw;">
                                <button ng-disabled="subscribe.$invalid" class="btn btn-default" style="background-color: #f0bb2f;color: #666;border-radius:3px" ng-click="subscription()" type="submit">Subscribe </button>
                            </span>
                        </div>
                    </form>
                    </div>
                    <div style="width:100%; padding:20px 0px" class="col-md-6 social">
                        <center>
                            <a rel="noopener" target="_blank" title="Flytta facebook" href="https://www.facebook.com/goflytta/"><i class="fa fa-facebook" style="font-size:20px"></i></a>
                            <a rel="noopener" target="_blank" title="Flytta twitter" href="https://twitter.com/flyttainc"><i class="fa fa-twitter" style="font-size:20px"></i></a>
                            <a rel="noopener" target="_blank" title="Flytta linkedin" href="https://www.linkedin.com/company/flytta"><i class="fa fa-linkedin" style="font-size:20px"></i></a>
                            <a rel="noopener" target="_blank" title="Flytta instagram" href="https://www.instagram.com/goflytta/"><i class="fa fa-instagram" style="font-size:20px"></i></a>
                        </center>
                    </div>
                    <!-- <ul class="fh5co-footer-links">
                            <li><a target="_blank" href="https://www.facebook.com/goflytta/">Facebook</a></li>
                            <li><a target="_blank" href="https://twitter.com/flyttainc">Twitter</a></li>
                            <li><a target="_blank" href="https://www.linkedin.com/company/flytta">LinkedIn</a></li>
                            <li><a target="_blank" href="https://www.instagram.com/goflytta/">Instagram</a></li>
                        </ul> -->
                </div>
            </div>
        </div>
    </div>
    <div class="botm row">
        <div class="col-md-12 text-center" style="background-color: #0a0a0a;display: inline-block; vertical-align: middle; line-height: normal;width: 100vw;border-top: 1px solid #2d2d2d" align="center">
            <br/>
            <div class="row web-view">
                <div class="col-md-2"><a style="color: #fff" rel="noopener" target="_blank" href="http://web.goflytta.com/terms">Terms & Condition</a></div>
                <div class="col-md-2"><a style="color: #fff" rel="noopener" target="_blank" href="http://web.goflytta.com/privacy">Privacy Policy</a></div>
                <div class="col-md-2"><a style="color: #fff" rel="noopener" target="_blank" href="http://web.goflytta.com/Infringement-Policy">Infringement Policy</a></div>
                <div class="col-md-2"><a style="color: #fff" rel="noopener" target="_blank" href="http://web.goflytta.com/refund">Refund Policy</a></div>
                <div class="col-md-4" style="color: #fff">&copy; 2017 | Flytta Innovations Private Limited</div>
            </div>
            <div class="row mobile-view">
                <div class="col-ls-12 col-md-12 col-sm-12 col-xs-12" style="min-width: 100%;color: #fff">
                    <center>&copy; 2017 | Flytta Innovations Private Limited</center>
                </div>
            </div>
            <br/>
        </div>
    </div>
<div class="modal fade" id="successsub">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content container">
            <div class="modal-body" style="font-size: 15px">
                <div class="row">
                    <div class="col-md-12">
                    Thank you for subscribe, you are subscribed successfully.
                        <div class="modal-footer">
                            <button type="button" style="background-color:#fdd206; color:#666" class="btn btn-primary" data-dismiss="modal">OK</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</footer>
<style type="text/css">
.social [class*="fa fa-"] {
    background-color: #8a8b8c;
    border-radius: 30px;
    color: #fff;
    display: inline-block;
    height: 35px;
    line-height: 35px;
    margin: auto 3px;
    width: 35px;
    text-align: center;
}

.social [class*="fa fa-"]:hover {
    cursor: pointer;
}

.input-group {
    margin: 20px auto;
    margin-bottom: 0px;
    width: 100%;
}

input.inputclass {
    width: 60%;
    height: 50px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

button.btnclass {
    width: 40%;
    height: 45px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.fh5co-footer-links {
    padding: 0;
    margin: 0;
}

.top_logo {
    padding: 8px 15px;
    margin: 12px 0;
    list-style: none;
    background-color: inherit;
    border-radius: 3px;
    white-space: nowrap;
}

#f_footer li {
    padding: 0;
    margin: 0;
    list-style: none;
}

#f_footer li a {
    color: #666666;
    text-decoration: none;
}

#f_footer li a:hover {
    text-decoration: none;
}

@media (min-width: 768px) {
    .mobile-view {
        display: none;
    }
    .web-view {
        display: block;
    }
    .webview {
        display: block;
    }
    .mobileview {
        display: none;
    }
    #mobile-view1 {
        display: block;
    }
}
#mobile-view2 {
    margin-top:40px;
}

@media (max-width: 768px) {
    .mobile-view {
        display: block;
    }
    .web-view {
        display: none;
    }
    .mobileview {
        display: block;
    }
    .webview {
        display: none;
    }
    #mobile-view1 {
        display: none;
    }
    #mobile-view2 {
        text-align: center;
        margin-top:0px;
    }
      #newsletter_div{
        width:70%;
        padding-left: 10%;
    }
   
}
@media (max-width: 480px) {    
    #mobile-view2 {
        margin-top:0px;
    }
      #newsletter_div{
        width:initial;
        padding-left: 4%;
    }
}

.botm.row {
    margin-left: 0px;
    margin-right: 0px;
}
</style>
